@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  scrollbar-color: transparent transparent !important;
  scrollbar-gutter: stable both-edges;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

.scrollbar-hidden::-webkit-scrollbar-track,
.scrollbar-hidden::-webkit-scrollbar-thumb {
  background: transparent !important;
  border: none !important;
}

.ck-editor,
.ck-editor__main {
  height: 100%;
}

.ck-editor__editable_inline {
  min-height: 100%;
  padding: 1rem;
  overflow-y: auto;
}
